.hero {
    background-color: #1c2035;
}

.body__container {
    position: relative;
    min-height: calc(100vh - 575px);
    overflow-x: hidden;
    display: block;
    top: 0px;
    /* background: url('https://i.imgur.com/ul7I3F0.png') center center / cover no-repeat fixed; */
    padding: 0 calc(3.5vw + 5px);
}

.body__container::after {
    background: url('https://i.imgur.com/ul7I3F0.png') center center / cover no-repeat fixed;
    content: "";
    position: absolute;
    inset: 0px;
    opacity: 1;
    z-index: -1;
}

.slider__Img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    display: block;
}

/* .slide__Item > a > img {
    width: 100%;
    height: 100%;
} */

.slider__Img:hover {
    padding: 0;
    border-top: 4px solid #2840ad;
    border-bottom: 4px solid #2840ad;
    transition-duration: 300ms;
    z-index: 1;
}

.slick-arrow {
    opacity: 0;
    height: 100%;
    width: 5vw;
    z-index: 1;
}

button:hover {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}

.slick-dots li.slick-active button:before {
    color: rgb(150, 158, 171) !important;
    font-size: 10px;
}

.slick-dots li button:before {
    color: white !important;
}

.slick-list {
    overflow: initial !important;
}

/* .slick-prev {
    right: -40px !important
} */

.slide__Item {
    border-radius: 4px;
    cursor: pointer;
    position: relative;
} 

.slide__Item > a {
    border-radius: 4px;
    box-shadow: rgb(0, 0, 0 / 69%)0 26px 30px --10px, rgb(0, 0, 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 4px;
}



.slide__Item > a > button {
    position: absolute;
    bottom: 15%;
    transform: translateX(-50%);
    padding: 1.5% 2.5%;
    border-radius: 50px;
}

.slide__Item button:first-of-type {
    left: 15%;
    background-color: #2840ad;
    color: white;
    border: 1px solid #2840ad;
}

.slide__Item button:last-of-type{
    right: 35%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.hide__button {
    display: none;
}

@media (min-width: 600px) {

    .slide__Item > a > button {
        font-size: 1em;
    }
    .slide__Item button:last-of-type {
        right: 40%;
    }
}

@media (min-width: 800px) {
    .slide__Item button:last-of-type {
        right: 50%;
    }
}

@media (min-width: 1000px) {
    .slide__Item > a > button {
        font-size: 1.5em;
    }
    .slide__Item button:last-of-type {
        right: 45%;
    }
}

@media (min-width: 1250px) {
    .slider__Img {
        width: 100%;
        height: 50%;
    }
    .slide__Item button:last-of-type {
        right: 50%;
    }
}

/* .slide__Item button:first-of-type {
    left: 25%;
    background-color: #2840ad;
    color: white;
    border: none;
}

.slide__Item button:last-of-type{
    right: 35%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
} */