.navbar {
    margin-top: 0;
}

.navbar__container {
    /* display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr; */
    top: 0;
    background-color: #000;
    /* display: flex; */
    justify-content: space-evenly;
    height: 10%;
    width: 100%;
}

.navbar__left {
    /* display: flex; */
    /* flex: 0.5; */
}

.navbar__left > a > img {
    /* object-fit: contain; */
    width: 17%;
    top: 50px;
    height: auto;
    margin-left: 5%;
}

.navbar__right {
    display: none;
    /* justify-content: space-evenly; */
}

/* .logo {
    width: 10%;
    height: auto;
    padding: 0 2%;
    display: inline-block;
}

.logo > img {
    display: block;
    width: 100%;
} */

.navbar__right > div > a {
    text-decoration: none;
    color: white;
    
    

}

@media (min-width: 1100px) {
    .navbar__container{
        display: grid;
        grid-template-columns: repeat(1, 2fr 3fr);
    }
    .navbar__right {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 1.2em;
        font-weight: 700;
    }

    .navbar__right > div > a:hover {
        color: #8AB8FF;
        text-decoration: underline;
    }
    /* .nav1 {
        grid-column: 2/3;
    } */
}