.offers {
    margin-top: 5%;
    background-color: #222;
    color: white;
}

.offers > a > img {
    width: 98%;
    height: auto;
}

.offers > h2 {
    margin: 0% 5%;
    margin-top: 8%;
    /* font-weight: 700;  */
    font-style: bold;
}

.offers > p {
    /* margin: 15% 5%; */
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 3%; */
}

.offers > button {
    background-color: #0000d3;
    color: white;
    width: 30%;
    height: 40%;
    min-height: 30px;
    margin-left: 5%;
    margin-bottom: 15%;
    border-radius: 40px;
}

.more__Promotions {
    background-color: #2840AD;
    color: white;
    text-align: center;
    padding: 5% 0;
}

.followUs {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 0;
}

.offersLine {
    border: 2px solid #8AB8FF;
}

.facebook__Icon {
    color: #0000d3 !important;
}

/* =================================== */

.left__img__container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5%;
    margin: 5% 5%;
    color: white;
    /* align-items: center; */
}


.left__img > a > img{
    width: 100%; 
    /* align-items: center; */
}

.left__img {
    padding: 15% 0;
    justify-content: center !important;
    align-items: center !important;
}

.left__text > button {
    cursor: pointer !important;
    color: white;
    background-color: #2840AD;
    border-radius: 100px;
    width: 35%;
    /* height: 30%; */
    min-height: 30px;
    margin-bottom: 15px;
    padding: 4% 0;
}

.right__text {
    color: white;
    /* padding: 0 10%; */
    padding-left: 10%;
}
/* ========= */
.right__img__container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5%;
    margin: 2% 5%;
    color: white;
    align-items: center;
}

.right__img > a > img{
    width: 100%; 
}

.left__text {
    color: white;
    /* padding: 0 10%; */
    padding-right: 10%;
}

.right__text > button {
    cursor: pointer !important;
    color: white;
    background-color: #2840AD;
    border-radius: 100px;
    width: 35%;
    height: 15%;
    min-height: 30px;
    margin-bottom: 15px;
}

@media (min-width: 750px) {

    /* THIS QUERY IS A TERNARY ACTIVATED WITHIN OFFERS.JS  */

}

